.navbar{
    background-image:url(../images/cachorro-oculos.jpg);
}

.imagem-custom {
background-color: #E8BC0F;
background-repeat: no-repeat;
}

.footer-yallow{
 background-color: #E8BC0F;
}

.nav-link{
    color: #fff;
    text-transform: uppercase;
}
#carousel13{
    justify-content: center;
    display: flex;

}
